.record {
  border: solid 1px #ccc;
  border-radius: 8px;

  & > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background: white;
    border-radius: 8px 8px 0 0;
    padding: 0 16px;

    & > *:not(:first-child):not(.sub) {
      padding-left: 12px;
    }

    .sub {
      font-style: italic;
      & ~ .sub:before {
        content: ', ';
      }
    }
  }

  &.minimized > .header {
    border-radius: 8px;
  }

  & > .content {
    padding: 12px;
    background: #f7f7f7;
    display: grid;
    grid-gap: 12px;

    .sub-header {
      padding: 12px 0;
    }
  }

  margin-bottom: 12px;
}
.form-group {
  display: grid;
  grid-gap: 12px;
  max-width: 800px;
  padding-bottom: 12px;

  &.minimized {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.form-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex-grow: 1;
}

section {
  padding: 16px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  & > *:not(:last-child) {
      margin-right: 8px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
